@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hidden {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Press Start 2P', cursive;
    color: black;
    background-color: white;
    background-image: url('../img/supermario_art.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* main header rules */
header {
    background-color: #009CDA;
    text-align: center;
    position: sticky;
    top: 0;
}

#mario-logo {
    width: 300px;
    padding: 10px 0;
}

/* main rules here*/
#character_nav {
    text-align: center;
  
}

.characters {
    list-style-type: none;
}

.characters li {
    position: relative;
    display: inline-block;
    height: 220px;
    margin: 10px 8px;
    background-color: #FCD000;
    text-align: center;
    cursor: pointer;
}

.characters li a {
    text-decoration: none;
}

.characters li h5 {
    position: relative;
    color: black;
    padding: 12px 8px;
    font-size: 12px;
}

.red_bumper {
    width: 100%;
    height: 6px;
    background-color: red;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../img/mario_sprites.png);
}



#mario {
    background-position: -0px 0;
}

#peach {
    background-position: -150px 0;
}

#toad {
    background-position: -300px 0;
}

#luigi {
    background-position: -450px 0;
}

#bowser {
    background-position: -600px 0;
}

#yoshi {
    background-position: -750px 0;
}

.sprite:hover {
    background-position-y: -150px !important;
}

article {
    padding: 20px;
    margin-top: 50px;
}

article h3 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 14px;
}

article p {
    width: 80%;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
}

/* footer rules here */

footer {
    color: white;
    padding: 20px 0 20px 0;
    text-align: center;
}

.stick_footer {
    background-color: #4db000;
    height: 80px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.lightbox {
    background-color: rgba(255, 255, 255, 0.85);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-repeat: no-repeat;
    background-color: 55vh;
    background-position: 40px;
    display: none;
}

#lightbox1 {
    background-image: url(../img/mario-pole.png);
}

#lightbox2 {
    background-image: url(../img/peach.png);
}

#lightbox3 {
    background-image: url(../img/toad.png);
}

#lightbox4 {
    background-image: url(../img/luigi.png);
}

#lightbox5 {
    background-image: url(../img/bowser.png);
}

#lightbox6 {
    background-image: url(../img/yoshi.png);
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 95%;
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 100px;
}

.lightbox article p {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.lb_text .lb_heading {
    text-align: left;
}

.lb_text {
    line-height: 1.6 !important;
   
    padding-top: 2em;
}

.lightbox:target {
    display: block;
}